@{
    ViewData["Title"] = "Perifericos Gamer (E Y S)";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Tipo </th>
        <th>Marca </th>
        <th>Descripcion </th>

    </tr>
</table>